@import '@/style/variables.scss';

.topModels{
    padding: 150px 0 30px 0 ;
    background: $black;
    
    .container {
        display: grid;
        grid-template-columns: calc((100% - 90px)/4) calc((100% - 90px)/4) calc((100% - 90px)/4) calc((100% - 90px)/4);
        grid-gap: 30px;
    }
}