@import '@/style/variables.scss';

.headerLink {
    position: relative;
    padding: 30px 0;
    a {
        display: block;
    }

    div {
        padding: 15px;
        border-radius: 10px;
        width: 150px;
        display: none;
        background: $inkBlack;
        position: absolute;
        top: 80%;
    }

    &:hover {
        >div {
            display: block;
        }
    }
}