@import '@/style/variables.scss';

.mySlider{
    width: 100%;
    overflow: hidden;
    padding: 75px 0 0 0;

    .mySlide{
        height: calc(100vh - 79px);

        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}