@import '@/style/variables.scss';

.blogComponent {
    display: flex;
    flex-direction: row;
    gap: 40px;

    .text {
        width: auto;

        h2 {
            color: $blue;
            font-size: 36px;
        }

        p {
            color: $white;
        }
    }

    .image {
        width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }
}