@import '@/style/variables.scss';

.models {
    background: $black;
    padding: 150px 0 100px 0;

    .container {
        .filters{
            padding: 20px 0 40px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .list {
            display: grid;
            grid-template-columns:calc((100% - 120px) / 5) calc((100% - 120px) / 5) calc((100% - 120px) / 5) calc((100% - 120px) / 5) calc((100% - 120px) / 5);
            grid-gap: 30px;
        }
    }
}